<header>
    <div class="bg-background flex min-h-[10px] flex-col rounded-lg p-8 sm:flex-row">
        <div class="flex items-center space-x-2">
          <img class="lthn-white-logo" src="../../../../../../assets/images/lethean_white_trans.png" alt="creator face" />

          <div class="bg-background flex-col rounded-lg px-8 py-8 sm:flex-row">
            <!-- Card Header -->
            <div class="mb-2 flex items-center justify-between">
              <div class="flex-col">
                <div class="flex items-center space-x-1">
                  <span class="text-muted-foreground text-lg font-semibold">$</span>
                  <span class="text-foreground text-4xl font-semibold">1.94</span>
                  <div class="flex items-center rounded-md bg-green-500/25 py-1 pr-2 pl-1 text-xs font-semibold text-green-500">
                    <img src="" h-4 w-4>
                    +9.2%
                  </div>
                </div>
                <span class="text-muted-foreground text-sm">Lethean rate</span>
              </div>
            </div>
            <!-- end Card Header -->
            <div class="mb-3 grid grid-cols-5 items-center justify-between gap-2 text-center">
              <div class="bg-primary text-primary-foreground hover:bg-primary cursor-pointer rounded-md p-0.5 text-sm">1d</div>
              <div class="hover:bg-primary hover:text-primary-foreground cursor-pointer rounded-md p-0.5 text-sm text-gray-400">
                5d
              </div>
              <div class="hover:bg-primary hover:text-primary-foreground cursor-pointer rounded-md p-0.5 text-sm text-gray-400">
                1m
              </div>
              <div class="hover:bg-primary hover:text-primary-foreground cursor-pointer rounded-md p-0.5 text-sm text-gray-400">
                6m
              </div>
              <div class="hover:bg-primary hover:text-primary-foreground cursor-pointer rounded-md p-0.5 text-sm text-gray-400">
                1y
              </div>
            </div>
            <!-- Card Body -->
            <!-- end Chart -->
          </div>
          
        </div>
    </div>
</header>